.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color:yellow;
}

.blue {
    color:blue;
}

.container {
    background: blue;
    width: 160px;
}

.constainers-container {
    background: red;
}
