.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color:yellow;
}

.blue-bg {
    color:blue;
    background-color: blue;
}



#outer-container .red {
    background-color: indianred;
}

#inner-container .red {
    background-color: darkred;
}

#outer-container .blue {
    background-color: dodgerblue;
}

#inner-container .blue {
    background-color: deepskyblue;
}







.blue #container {
    background-color: blue;
}

.blue #currentContainersContainerClass {
    background-color: lightblue;
}

 #jim-container {
    background-color: cornflowerblue;
}

.container {
    background: blue;
    width: 160px;
}

.containers-container {
    background: red;
}
