
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <link rel="stylesheet" type='text/css' href="css/myStyle.css"></link>
    <script src="js/app.js"></script>
</head>

<body ng-app="MyApp">
<div ng-controller="MainController as mainCtrl">


    <!--<span>-->

    <!--<input type="checkbox" ng-model="mainCtrl.classObject.red">Red-->
        <!--<input type="checkbox" ng-model="mainCtrl.classObject.blue">Blue-->
        <!--<input type="checkbox" ng-model="mainCtrl.classObject.yellow">Yellow-->
        <!--<input type="checkbox" value="">None-->

    <!--</span>-->

    <!--<div ng-class="mainCtrl.classObject">-->
        <!--<h2>Something</h2>-->
        <!--<p>sdhfk nskjdn kjbhdsk bfkjhsdb kjahbsdk jbfaksdjhbf-->
        <!--ajshdbfajhsdb abjd hbaj bdsjfb amjsdhb fmjahbsdm h-->
        <!--aj bdf,ashbd mfjabhsmdbf amdhjsb fmajhbds afh-->
        <!--ajsd bfmajhbsd jfabmsdhjbf amdhjsbf mahsbdfmh b.</p>-->
    <!--</div>-->

    <h3>ng-class object!</h3>
    <input type="checkbox" ng-click="mainCtrl.deselectNoneCheckbox()" ng-model="mainCtrl.classObject.red">Red
    <input type="checkbox" ng-click="mainCtrl.deselectNoneCheckbox()" ng-model="mainCtrl.classObject.blue">Blue
    <input type="checkbox" ng-click="mainCtrl.deselectNoneCheckbox()" ng-model="mainCtrl.classObject.green">Green
    <input type="checkbox" ng-click="mainCtrl.deselectNoneCheckbox()" ng-model="mainCtrl.classObject.yellow">Yellow
    <input type="checkbox" ng-click="mainCtrl.noneCheckBoxClicked()" ng-model="mainCtrl.isNoneSelected">None


    <div ng-click="onButtonClick()" ng-model="mainCtrl.classObject.yellow" ng-class="mainCtrl.classObject">
        HMMMMMMMMMM
    </div>

    <hr/>

    <span ng-repeat="folder in mainCtrl.folders">
        Hello {{folder.name}}<br/>
        <div ng-repeat="item in folder.items">
            &nbsp&nbsp&nbsp&nbsp&nbspItem is {{item.name}}<br/>
        </div>
    </span>

    <input type="input" ng-model="mainCtrl.currentInputText">
    <button ng-click="mainCtrl.submitButtonClicked()">Submit</button>

    <input type="radio"
           name="radioGroup"
           ng-model="folderOrItemRadioButton"
           id="id1"
           value="folder" checked> Create New Folder.
    <input type="radio"
           name="radioGroup"
           id="id2"
           ng-model="folderOrItemRadioButton"
           value="item"> Create New Item.




    <!--<h3>ng-class string</h3>-->
    <!--<input type="text" ng-model='mainCtrl.userText'>-->
    <!--<div ng-class='mainCtrl.userText'>-->
        <!--JSDKJAKSJDKAJSDKAJSDK-->
    <!--</div>-->



    <!--<div ng-show='mainCtrl.shouldShow' style='color:red'>-->
        <!--:LSLDLSASFLLASDFLALSDFLASLDF-->
    <!--</div>-->
    <!--<button ng-click="mainCtrl.onButtonClick()">Click me :)</button>-->
    <!--<input type='checkbox' ng-model='mainCtrl.shouldShow' />-->




    <!--<h3>Checkbox ng-model</h3>-->
    <!--<h3 ng-bind="ctrl.select"></h3>-->
    <!--<input type="checkbox" ng-model="ctrl.select">Select-->

    <!--<h3> Radio ng-model><h3>-->
        <!--<h3 ng-bind="ctrl.animalSelected"></h3>-->

        <!--<input type="radio"-->
               <!--name='animal'-->
               <!--ng-value='mainCtrl.myDog'-->
               <!--ng-model='mainCtrl.animalSelected'>Dog-->
        <!--<input type="radio"-->
               <!--name='animal'-->
               <!--value='Cat'-->
               <!--ng-model='mainCtrl.animalSelected'>Cat-->
        <!--<input type="radio"-->
               <!--name='animal'-->
               <!--value='Cow'-->
               <!--ng-model='mainCtrl.animalSelected'>Cow-->

        <!--

                <h3>
                <h3 ng-bind="mainCtrl.username"></h3>
                <input type='text' ng-model='mainCtrl.user.name'/>

                <h3>{{undefined}}</h3> -->

</div>
</body>
</html>