<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="js/code.js"></script>

    <link rel="stylesheet" href="../third-class-workshop/css/myCss.css">
</head>

<body ng-app="MyApp">
<div ng-controller="MainController as mainCtrl">

    <div class="form">
        <br>
        <p>first:
            <span ng-hide="mainCtrl.editModeEnabled" ng-bind="mainCtrl.savedUser.firstName"></span>
            <input type="text" ng-model="mainCtrl.editingUser.firstName" ng-show="mainCtrl.editModeEnabled" />
        </p>
        <p>last:
            <span ng-hide="mainCtrl.editModeEnabled" ng-bind="mainCtrl.savedUser.lastName"></span>
            <input type="text" ng-model="mainCtrl.editingUser.lastName" ng-show="mainCtrl.editModeEnabled" />
        </p>
        <p>email:
            <span ng-bind="::mainCtrl.savedUser.email"></span>
        </p>

        <button ng-hide="mainCtrl.editModeEnabled" ng-click="mainCtrl.onEditButtonClicked()">Edit</button>
        <button ng-show="mainCtrl.editModeEnabled" ng-click="mainCtrl.onSaveButtonClicked()">Save</button>
        <button ng-show="mainCtrl.editModeEnabled" ng-click="mainCtrl.onCancelButtonClicked()">Cancel</button>
    </div>

</div>
</body>
</html>